{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@utils": "./src/utils",
          "@components": "./src/components",
          "@hooks": "./src/hooks",
          "@styles": "./src/styles",
          "@theme": "./src/theme"
        }
      }
    ]
  ]
}
